---
const { forgetPass } = Astro.props;
import logo from "../assets/logo.png";
import { ButtonLogin } from "./Button";
---

<article class="w-5/6 md:w-1/2 lg:w-1/3 xl:w-1/4 bg-second p-4 rounded-lg">
    <section class="w-full flex flex-col col justify-center items-center">
        <img src={logo.src} class="w-24 h-auto mx-auto mb-3" />
        <h2 class="text-primary text-2xl">Smartlive</h2>
    </section>
    <section class="w-full p-4 flex flex-col items-stretch">
        <input
            class="text-2xl p-2 rounded-lg rounded-b-none bg-opacity-20 bg-white border-b-[2px] border-b-primary mb-5 focus:outline-accent focus:border-transparent focus:rounded-lg"
            type="text"
            name="username"
            id="username"
            placeholder="Usuario"
        />
        <input
            class="text-2xl p-2 rounded-lg rounded-b-none bg-opacity-20 bg-white border-b-[2px] border-b-primary focus:outline-accent focus:border-transparent focus:rounded-lg"
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
        />
        <p class="text-xs text-end pt-2">
            <a
                class="cursor-pointer hover:text-accent active:opacity-50"
                href={forgetPass}>Has olvidado la contraseña?</a
            >
        </p>
    </section>
    <section class="w-full flex flex-row justify-center items-center pt-5">
        <ButtonLogin client:load>Entrar</ButtonLogin>
    </section>
    <section
        class="w-full flex flex-col justify-center items-center text-xs pt-10"
    >
        <p>Todavía no tienes cuenta?</p>
        <p class="">
            <a class="hover:text-accent active:opacity-50" href="/register"
                >Regístrate aquí!</a
            >
        </p>
    </section>
</article>
