---
import Logo from "../assets/logo.png";
---

<header
    class="flex flex-row w-full justify-start items-center h-[15vh] pl-4 pt-2 opacity-0sa"
>
    <div class="flex flex-col p-2 bg-gray-400 rounded-lg">
        <img class="w-20" src={Logo.src} alt="Logo de Smartlive" />
        <h1 class="font-extrabold text-xl text-white">Smartlive</h1>
    </div>
</header>
