---
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
const redirectLogin = "";

const colors = {};
---

<Layout title="Login Smartlive">
	<main class="w-full flex flex-col justify-center items-center h-screen">
		<Card redirectLogin={redirectLogin} />
	</main>
	<Footer />
</Layout>

<style>
	main {
		background-image: url("/background.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
</style>
